<div class="row">
    <div class="col s12">
        <div class="row">
            <form method="get" action="{% url 'blog:search' %}">
                <div class="input-field col s12">
                    <i class="material-icons prefix" aria-hidden="true">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete"
                           name="q"
                           value="{{ request.GET.q }}"
                    />
                    <label for="autocomplete-input">Search...</label>
                </div>
                {% include '_messages.html' %}
            </form>
        </div>
    </div>
</div>