{% extends 'base.html' %}

{% block title %}Blog Index{% endblock %}

{% block content %}

<h4>Blog Posts</h4>

<table class="highlight" aria-label="Blog posts">
    <thead>
    <tr>
        <th id="title">Title</th>
        <th id="category">Category</th>
        <th id="author">Author</th>
    </tr>
    </thead>
    <tbody>

    {% for post in posts %}
    <tr>
        <td><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a></td>
        <td>{{ post.category }}</td>
        <td>{{ post.author }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>

<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons" aria-hidden="true">chevron_left</i></a></li>

    {% for page in posts.paginator.page_range %}
    <li {% if posts.number == page %}class="active"{% endif %}>
        <a href="?p={{ page }}&term={{ request.GET.term }}">{{ page }}</a>
    </li>
    {% endfor %}

    <li class="waves-effect"><a href="#!"><i class="material-icons" aria-hidden="true">chevron_right</i></a></li>
</ul>

{% endblock content %}
