{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>Register:</h1>

<div class="row">
    <form method="POST" action="{% url 'register' %}" class="col s12">
        {% include '_messages.html' %}
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix" aria-hidden="true">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" name="uname" value="{{ request.POST.uname }}">
                <label for="icon_prefix">User Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix" aria-hidden="true">email</i>
                <input id="icon_email" type="email" class="validate" name="email" value="{{ request.POST.email }}">
                <label for="icon_email">E-mail</label>
            </div>
        </div><div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix" aria-hidden="true">lock</i>
            <input id="icon_lock" type="password" class="validate" name="passwd_1">
            <label for="icon_lock">Password</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix" aria-hidden="true">lock</i>
            <input id="icon_lock_2" type="password" class="validate" name="passwd_2">
            <label for="icon_lock_2">Repeat Password</label>
        </div>
    </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Register
            <i class="material-icons right" aria-hidden="true">send</i>
        </button>
    </form>
</div>

{% endblock content %}